
   
     <div class="top-part">
       <div class="topContainer">
          <div class=" px-0 hedContainer">
              <h1 class="display-4 font-italic">Welcome to Organic shop</h1>
              <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum eros enim, quis tristique dolor tempus in</p>
            </div>
       </div>
     </div>
     <div class="bottom-part text-center">
       <a routerLink="/productList">
        <i class="fa fa-shopping-cart"></i>
        <h4>Shop Now</h4>
      </a>

     </div>
    
    
